Key derivation does not appear to match RFC 3830

`src/crypto.rs` claims:

```rust
/// MIKEY-1 PRF (RFC 3830 Section 4.1.2)
/// PRF(key, label) = HMAC-SHA-1(key, label || 0x00 || iter || length)
```

And constructs the output key by computing this HMAC multiple times incrementing `iter` until it has enough data.

However I don't think this is what RFC 3830 says. It describes a PRF that operates in feedback mode and does some key splitting if the input key is too big. This is nothing like what is implemented in this repo. Additionally, the way each type of key is derived uses different labels than what's written in the RFC.

I think this should either be corrected, or the docs should note that it's not really compatible with RFC 3830.

I don't _think_ this is a security issue because the existing code does look like it computes a counter mode KDF. It just won't work with other MIKEY implementations. One issue I do see is that `i as u8` could wrap and produce a repeating keystream which would be bad, but it seems unlikely because the requested output length would have to be `256 * 20 = 5210` bytes which is quite large.

Thanks for the call-out, I'll take a look but seems you're onto at least one possible issue here.